<%= form_for [wiki, collaborator] do |f| %>
  <%= hidden_field :user_id, user.id %>
  <%= content_tag :tr, class: 'media', id: "user-#{user.id}" do %>
    <td><%= user.name %></td>
    <td class="center"><%= f.submit "+", class: 'glyphicon glyphicon-plus' %></td>
    <% end %>
<% end %>