<%= form_for wiki do |f| %>
  <% if wiki.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(wiki.errors.count, "error") %>.</h4>
      <ul>
        <% wiki.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_group_tag(wiki.errors[:title]) do %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
  <% end %>
  <%= form_group_tag(wiki.errors[:body]) do %>
    <%= f.label :body %>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
  <% end %>
  <% if current_user.role == 'admin' || current_user.role == 'premium' %>
    <div class="form-group">
      <%= f.label :private, class: 'checkbox' do %>
      <%= f.check_box :private %> Private wiki
      <% end %>
    </div>

    <br />
    <table class="table table-striped table-hover table-bordered form-group">
      <thead>
        <tr>
          <th>Username</th>
          <th class="text-center">Add Collaborator</th>
        </tr>
      </thead>
      <tbody class="js-items">
        <% users.each do |user| %>
          <%= content_tag :tr, class: 'media', id: "user-#{user.id}" do %>
            <td><%= user.name %></td>
            <td class="text-center">
              
            <%= check_box_tag "wiki[user_ids][]", user.id, wiki.collaborators.include?(user) %>
            </td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
<% end %>