<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-pills">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "All Wikis", wikis_path %></li>

      <div class="pull-right user-info">
        <% if current_user %>
          <%= image_tag(current_user.avatar.tiny.url) if current_user.avatar? %>
          Hello <%= link_to (current_user.name.capitalize || current_user.email), current_user %>!
          <div class="btn-group btn-sm">
            <button type="button" class="btn btn-info btn-sm dropdown-toggle top-button" data-toggle="dropdown">
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-left">
              <li><%= link_to "Account Settings", edit_user_registration_path %></li>
              <li><%= link_to "Create Wiki", new_wiki_path %></li>
              <li><%= link_to "My Wikis", current_user %></li>
              <li><%= link_to "Contact Us", contact_path %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        <% else %>
          <ul class="nav nav-pills">
            <li><%= link_to "Log In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          </ul>
        <% end %>
      </div>
    </ul>

    <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>

    <%= yield %>
  </div>
</body>
</html>
